html {
    background-image: url(/IMG/ontario.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: scroll;
}

li {
    color: rgb (100,0,0)
}

th {
    color: black;
    }
td {
    font-style: italic;
    font-weight: bold;
    }


.pic {
    width: 100%;
}

.text {
    width: 100%;
    color:white;
    text-align: left;
}
a{
    color: wheat;
    font-style: italic;
    font-size: large;
    text-decoration: none;
    padding: 1rem;
}



#Left {
    float:left;
    width: 45%;
    padding-left: 1%;
}

#Right {
    float: right;
    width: 45%;
    padding-right: 1%;
}

.pic {
    border-radius: 50px;
}

h1 {
    color: wheat;
    text-decoration-line: overline;
    text-align: center;
    font-size: xx-large;
}